<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send GRF</title>

         <!---Bootstrap-->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
         
         <!--Socket.io-->
         <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
        
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body class="p-5">

    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <form method="post" action="/insertgrf">
        <div class="mb-3">
            <label for="label1" class="form-label">GRF Date</label>
            <input input type="date" id="gdate" name="gdate" class="form-control" type="date"  required >
            <label for="label1" class="form-label">Airport</label>
              <% if (user.envi === 'T') { %>
                  <input type="text" id="origin" name="origin"  class="form-control" required >
                <% } else if (user.envi === 'THS') { %>
                  <input type="text" id="origin" name="origin" value="THS" class="form-control" readonly required >
                <% } else if (user.envi === 'TDX') { %>
                  <input type="text" id="origin" name="origin" value="THS" class="form-control" readonly required >
                <% } %>
            <label for="label1" class="form-label">RCR</label>
            <input type="text" id="rcr" name="rcr" class="form-control bg-info text-dark"  required >
            <label for="label1" class="form-label">Time(UTC)</label>
            <input type="text" id="utc" name="utc" pattern="[0-9]{4}" class="form-control"  required >
            <label for="label1" class="form-label">Runway</label>
            <input type="text" id="rwy" name="rwy" pattern=".{2,2}" class="form-control"  required >
            <hr>


            <label for="label1" class="form-label">RCAM 1</label>
            <select class="form-select" id="rcam1" name="rcam1" required>
                <option value="6">6</option>
                <option value="5">5</option>
                <option value="3">3</option>
                <option value="2">2</option>
              </select>

            <label for="label1" class="form-label">RCAM 2</label>
            <select class="form-select" id="rcam2" name="rcam2" required>
                <option value="6">6</option>
                <option value="5">5</option>
                <option value="3">3</option>
                <option value="2">2</option>
            </select>

            <label for="label1" class="form-label">RCAM 3</label>
            <select class="form-select" id="rcam3" name="rcam3" required>     
                <option value="6">6</option>
                <option value="5">5</option>
                <option value="3">3</option>
                <option value="2">2</option>
                </select>
            <hr>

            <label for="label1" class="form-label">Coverage 1</label>
            <select class="form-select" id="cov1" name="cov1" required>     
                <option value="100">100</option>
                <option value="75">75</option>
                <option value="50">50</option>
                <option value="25">25</option>
            </select>

            <label for="label1" class="form-label">Coverage 2</label>
            <select class="form-select" id="cov2" name="cov2" required>     
                <option value="100">100</option>
                <option value="75">75</option>
                <option value="50">50</option>
                <option value="25">25</option>
            </select>

            <label for="label1" class="form-label">Coverage 3</label>
            <select class="form-select" id="cov3" name="cov3" required>     
                <option value="100">100</option>
                <option value="75">75</option>
                <option value="50">50</option>
                <option value="25">25</option>
            </select>

            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                <label class="form-check-label" for="flexCheckDefault" >
                    Checked
                </label>
            </div>

        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </div>


    <script>

        const inputTarget = document.getElementById('rcr');
    
        addEventListener("change", (event) => {

            inputTarget.value =  utc.value +' '+ rwy.value +' '+  rcam1.value +'/'+ rcam2.value +'/'+ rcam3.value +' '+  cov1.value +'/'+ cov2.value +'/'+ cov3.value

        });

    
    /*
    input1.addEventListener('input', (event) => {
        inputTarget.value = event.target.value;
    });

    */

    
    </script>

</body>
</html>